<!DOCTYPE html>
<html ng-app="commikerApp">
  <head>
    <title>Commiker</title>

    <meta name="viewport" content="width=device-width">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" >
    <link href="/css/site.css" rel="stylesheet" type="text/css" >
    <link href="/css/styles.css" rel="stylesheet" type="text/css" >
    <link href="/css/angular-datepicker.css" rel="stylesheet" type="text/css" >
    <%= partial :'/shared/head_scripts' %>
    <%= partial :'/shared/angular_manifest' %>
  </head>
  <body>



    <base href="/">
    <!-- <br /> -->

    <div id="container">
      <div id="header">

        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div id="navbar" class="navbar-collapse collapse">
              <div class="navbar-header" style="padding-left: 5.5%">
                  <a class="navbar-brand" ui-sref="home">Commiker</a>
              </div>
              <ul class="nav navbar-nav navbar-right" style="padding-right: 7%">
                <li>
                  <% if current_session_user.blank? %>
                    <a class="log_in_txt" href='/login' target="_self"><span style="padding-right: 10px">Log in with slack</span> <img class="log_in_img" src="/img/slack.png" width="15px;"></a>
                  <% end %>

                  <% if !current_session_user.blank? %>

                    <a lass="log_in_txt" href='/logout' target="_self"><%= current_session_user.slack_handler %>&nbsp;&nbsp;<img class="log_in_img" src="/img/logout.svg" width="13px"></a>
                  <% end %>
                </li>
              </ul>
            </div><!--navbar-->
          </div><!--container-->
        </nav>

        <div id="top"></div>

      </div><!--CONTAINER-->

      <%= yield %>
    </div>
    <%= partial :'/shared/footer_scripts' %>
  </body>
</html>

