<!DOCTYPE html>
<html ng-app="commikerApp">
  <head>
    <title>Commiker</title>

    <meta name="viewport" content="width=device-width">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" >
    <link href="/css/site.css" rel="stylesheet" type="text/css" >
    <link href="/css/styles.css" rel="stylesheet" type="text/css" >
    <link href="/css/angular-datepicker.css" rel="stylesheet" type="text/css" >
    <%= partial :'/shared/head_scripts' %>
    <%= partial :'/shared/angular_manifest' %>
  </head>
  <body>

  <!-- <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div>
      </div>
    </nav>
 -->

    <base href="/">
    <br />
    <div class="container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" ui-sref="home">Project name</a>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li class="active">
              <% if current_session_user.blank? %>
                <a href='/login' target="_self">log in with slack</a>
              <% end %>
              <% if !current_session_user.blank? %>
                <a href='/logout' target="_self">logout <%= current_session_user.slack_handler %></a>
              <% end %>
            </li>
            <li>
              <a ui-sref="sprints-new">start sprint</a>
            </li>
          </ul>
        </div>
      </nav>

      <%= yield %>
    </div>
    <%= partial :'/shared/footer_scripts' %>
  </body>
</html>

