<!DOCTYPE html>
<html ng-app="commikerApp">
  <head>
    <title>Commiker</title>

    <meta name="viewport" content="width=device-width">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" >
    <link href="/css/site.css" rel="stylesheet" type="text/css" >
    <link href="/css/styles.css" rel="stylesheet" type="text/css" >
    <link href="/css/angular-datepicker.css" rel="stylesheet" type="text/css" >
    <%= partial :'/shared/head_scripts' %>
    <%= partial :'/shared/angular_manifest' %>
  </head>
  <body>



    <base href="/">
    <!-- <br /> -->

    <div id="container">
      <div id="header">

        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div id="navbar" class="navbar-collapse collapse">
              <div class="navbar-header" style="padding-left: 5.5%">
                  <a class="navbar-brand" ui-sref="home">Commiker</a>
              </div>
              <ul class="nav navbar-nav navbar-right" style="padding-right: 7%">
                <li>
                  <% if current_session_user.blank? %>
                    <a href='/login' target="_self">log in with slack</a>
                  <% end %>

                  <% if !current_session_user.blank? %>

                    <a href='/logout' target="_self"><%= current_session_user.slack_handler %>&nbsp;&nbsp;<img class="logout-off" src="/img/logout.svg" width="13px"></a>
                  <% end %>
                </li>
                <!-- <li>
                  <a ui-sref="sprints-new">start sprint</a>
                </li> -->
              </ul>
            </div><!--navbar-->
          </div><!--container-->
        </nav>



        <div id="top"></div>

        <div id="navig" class="side_space">
          <div class="sprint_id">
              <span class="default_text">Sprint</span>


              <div class="date_nav">
                <h2>
                  <div class="fl_left">
                    <img class="arrow-prev" src="/img/arrow_prev.svg">
                  </div>
                  <div class="fl_left spr_date">
                    <span>15 Jun</span> - <span>21 Jun</span>
                  </div>
                  <!-- <div class="fl_left">
                    <img class="arrow-prev" src="/img/arrow_next.svg">
                  </div> -->
                </h2>
              </div><!--date_nav-->
            </div><!--sprint_id-->

            <div class="sprint_progress">
              <div class="default_text">Sprint progress</div>
              <div style="text-align:right">
                <h2>
                  <div class="right perc" style="width: 100%; text-align: right; padding-bottom: 10px">
                    <h1>55%</h1>
                  </div>
                <div class="date_nav prog">
                  <div class="progress team">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                      <span class="sr-only">60% Complete</span>
                    </div>
                  </div>
                </div>
                </h2><!--date_nav-->
              </div>
            </div><!--sprint_id-->
          </div><!--navig-->

        </div><!--HEADER-->
      </div><!--CONTAINER-->

      <%= yield %>
    </div>
    <%= partial :'/shared/footer_scripts' %>
  </body>
</html>

